# Python-related
__pycache__/
*.py[cod]  # Compiled or optimized Python files
*$py.class
*.so # C extension modules
venv
.env

# Distribution/packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg # Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test/coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Flask-specific
instance/  # Stores user uploads, cached data, etc.
.webassets-cache  # Web assets cache from WebAssets

# Database settings
.sqlalchemy/  # Or other database configuration files
db.sqlite3  # If you're using SQLite3
*.db  # General database file extension

# IDE or editor files
*.idea/  # IntelliJ IDEA
.vscode/  # Visual Studio Code
.c9/  # Cloud9
.sublime-project  # Sublime Text
.sublime-workspace  # Sublime Text

# Personal configuration
*.secrets  # Files containing private secrets or API keys
*.env  # Environment variable files containing sensitive data
*.local.*  # Local configuration files specific to your development environment

# Logs and outputs
*.log
*.pid  # Process ID files
*.dump  # Crash dumps or memory snapshots
*.swp  # Vim swap files
npm-debug.log  # Node.js/npm debug logs

# Platform-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Temporary files
tmp/

# Ignore files used only in a test or staging environment
.gitignore_test
.gitignore_staging

# Ignore specific files or directories by adding them here
# Example: ignore specific test files
test/my_specific_test.py
